*.img
boot/x86/boot
boot/x86/init.bin
app/kernel
app/kernel.bin
**/*.log
boot/**/init
app/kernel.*
**/*.o
**/*.a
**/*.elf
**/*.dbg
app/etk/etk

**.elf
**.dbg
**.a
**.o
**/*.jpg
**/*.bmp

**.so
**.os

image/disk.vdi
app/gui/gui.elf
image/disk.vmdk
image/duck.fit
image/disk.vmdk.lck**

app/lvgl/lvgl
app/bin/ls
app/hello/hello
**.bin

app/**/**/target/**

**.lo
app/launcher/launcher

.vscode/
.sconsign.dblite

**/**/*.exe

init/kernel

kernel.map

zdata/**

image/disk.img


app/lua/lua
app/lua/luac
app/lua/luat
app/rust/test/test-rs

kernel.map
cmd/cat
cmd/date
cmd/echo
cmd/hexdump
cmd/touch
gnuboy/gnuboy
infones/infones
mgba/mgba
mgba/miniunz
quickjs/qjs
quickjs/qjsc
sdl2/player
sdl2/sdl2
sdl2/showfont
sdl2/showimage
test/test-file
test/test-mem
test/test-stdio
test/test-stdlib
test/test-string
test/test-uncompress
cmd/ls
etk/etk
gui/gui
hello/hello
launcher/launcher
lua/lua
lua/luac
lua/luat
lvgl/lvgl
microui/microui
scheme/scheme
test/test
test/test-musl
track/track
cmd/cat
cmd/date
cmd/echo
cmd/hexdump
cmd/touch
gnuboy/gnuboy
infones/infones
cmd/cat
cmd/date
cmd/echo
cmd/hexdump
cmd/touch
gnuboy/gnuboy
infones/infones
mgba/mgba
mgba/miniunz
quickjs/qjs
quickjs/qjsc
sdl2/player
sdl2/sdl2
sdl2/showfont
sdl2/showimage
test/test-file
test/test-mem
test/test-stdio
test/test-stdlib
test/test-string
test/test-uncompress
test/test-fork
test/test-free
test/test-sound
test/test-sys
test/test-thread

scheme/*.boot

bin/**

rust/test/target

*.gb

gmenu2x/gmenu
monogui/monogui
sdl/testbitmap
sdl/testoverlay
sdl/testwm
sdl/testoverlay2
watch/watch

**/.DS_Store 

cmd/kill
rust/test/test-rs
sdlmine/sdlmine

unitest/pngtest

resource/*.wmv
resource/*.mp4
resource/bin
xtrack/xtrack
launcher/SConscript
test/test-dl
test/test-call-so

**/**/__pycache__/**.pyc


app/resource/**